html {
    height: 100%;
}


body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    border: 2px solid red;

    
    
}

.container {
    flex: 1;

    background-image: url("../images/seoul-south-korea-cyberpunk-urban.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.another-one {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    border: 2px solid blue;
}

footer {
    margin-top: auto;

    border: 2px solid green;
}